@charset "utf-8";


body{
    height: 1500px;
    background:url(../img/bg5.jpg) repeat;
}

input{
    margin-bottom: 10px;
}

.J_result{
    background: #ccc;
    padding: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
}

.scroll{
    padding: 5px;
    background: #9c3;
    position: fixed;
    top: 50%;
    width: 200px;
}