@charset "utf-8";


.exemplo{
	padding: 20px;
	margin-bottom: 10px;
	background: #06F;
	color: #fff;
	text-align: center;
	border: 5px solid black;
}

span{
    padding: 0 4px;
    background: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}