@charset "utf-8";

body{
	font:14px Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;	
}

.exemplo{
	width: 460px;
	padding:20px;
	background: #069;
	text-align: center;
	color: #fff;	
}

p, input{
	width: 480px;
	padding:5px;
	background: #000;
	text-align: center;
	color: #fff;	
	border: 5px solid #ccc;
	margin: 5px 0;
	
}
