@charset "utf-8";

span{
	display: block;
	padding: 10px;
	background: #09f;
	color: #fff;
	font: 14px Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	margin-bottom: 10px;
}

input {
	margin-bottom: 5px;
}
.campos input{
	display: block;
	margin-bottom: 5px;

}

.acao{
	margin-top: 10px;
}
