/*  RESET  */
*{margin:0; padding:0; font-family:'Dosis',san-serif;}
*:hover{-webkit-transition: all 250ms ease 15ms; -moz-transition: all 250ms ease 15ms; -o-transition: all 250ms ease 15ms; transition: all 250ms ease 15ms;}
*:focus{outline:none;}

body{background:url(../img/body.png) repeat; overflow:hidden;}
a img{border:none;}
a{border:none; margin:0;}

/* CONFIGURAÇÕES */
.loginbox{position:absolute; left:50%; top:50%; background:rgba(255,255,255,0.9); width:360px; height:220px;}
.loginbox{margin-left:-180px; margin-top:-125px;}
.loginbox h1{padding:20px; font-weight:200; color:#FFF; background:#06F;}
.loginbox h1 img{float:right; margin:7px 0;display: none}
.loginbox form{padding:20px;}
.loginbox form .label{display:block; margin-bottom:10px; float:left; width:320px;}
.loginbox form .label .field{float:left; width:60px; text-align:right; font-size:20px; margin:7px 10px 3px 3px;}
.loginbox form .label input{padding:10px; font-size:16px; border:1px solid #CCC; width:225px; float:left;}
.loginbox form .label .pass{width:125px; float:left;}
.loginbox form .label .btn{float:right; width:auto; display:block; background:#06F; border:none; font-size:14px; text-transform:uppercase;}
.loginbox form .label .btn{padding:11px 10px 11px; color:#fff; font-weight:bold; cursor:pointer;}
.loginbox form .label .btn:hover{background:#639;}

.loginbox .msg{position:absolute; bottom:-66px; background:#fff; width:360px; font-size:20px; text-align:center; display:none;}
.loginbox .msg p{padding:20px; float:left; width:320px;}
.loginbox .erro{background:#FFEAEA; color:#900;}
.loginbox .aviso{background:#DDF4FF; color:#069;}
.loginbox .sucesso{background:#E8FFE8; color:#090;}

.backsite{padding:20px; background:rgba(100%,100%,100%,0.1); position:absolute; bottom:0px; width:100%; text-align:center; font-size:30px; text-transform:uppercase; text-decoration:none; color:#CCC;}
.backsite:hover{background:#06F; color:#FFF;}