/*  RESET  */
*{margin:0; padding:0; font-family:'Dosis',san-serif;}
*:hover{-webkit-transition: all 250ms ease 15ms; -moz-transition: all 250ms ease 15ms; -o-transition: all 250ms ease 15ms; transition: all 250ms ease 15ms;}
*:focus{outline:none;}

body{background:url(../img/bg-panel.jpg) center center}
a img{border:none;}
a{border:none; margin:0;}

.clear{clear:both;}

/* MYDIALOG */
.dialog{position:fixed; left:0px; top:0px; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:104;}
.dialog .msg{background:#fff; position:absolute; left:50%; top:50%; width:400px; height:160px; z-index:106; border:5px solid #CCC;}
.dialog .msg{padding:20px; margin-left:-220px; margin-top:-90px;}
.dialog .msg .tt{display:block; margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #CCC; font-size:40px; font-weight:600;}
.dialog .msg p{font-size:18px; font-weight:400; margin-top:10px;}

.dialog .msg .closedial{position:absolute; right:15px; top:15px; padding:5px 10px; background:#ccc;}
.dialog .msg .closedial{text-decoration:none; color:#fff; font-weight:200;}
.dialog .msg .closedial:hover{background:#09F; color:#fff;}

.dialog .accept{color:#0C0;}
.dialog .accept .tt{padding-left:45px; background:url(../../tpl/images/ms_icon_accept.png) center left no-repeat;}
.dialog .alert{color:#F90;}
.dialog .alert .tt{padding-left:45px; background:url(../../tpl/images/ms_icon_alert.png) center left no-repeat;}
.dialog .error{color:#900;}
.dialog .error .tt{padding-left:45px; background:url(../../tpl/images/ms_icon_error.png) center left no-repeat;}

/*  MODAL CADASTRO  */
.dialog .modal{background:#fff; position:absolute; left:50%; top:50%; width:400px; height:160px; z-index:105;}
.dialog .modal h2{padding:20px; background:#06F; color:#FFF; font-weight:200; font-size:30px;}
.dialog .modal .content{padding:20px;}

.dialog .modal form{}
.dialog .modal form label{display:block; margin-bottom:15px;}
.dialog .modal form label span{display:block; margin-bottom:5px; font:600 14px 'Dosis',san-serif; color:#000; text-transform:uppercase;}
.dialog .modal form label input, .dialog .modal label select, .dialog .modal label textarea{border:5px solid #CCC; padding:10px; font-size:16px; font-weight:400}
.dialog .modal form .btn{float:left; padding:10px; background:#03F; border:none; color:#FFF; font-size:18px; text-transform:uppercase; font-weight:bold; cursor:pointer;}
.dialog .modal form .btn:hover{background:#09F;}
.dialog .modal form .load{float:left; margin:6px 20px;}

.dialog .modal .closemodal{position:absolute; right:15px; top:25px; padding:5px 10px; background:#ccc;}
.dialog .modal .closemodal{text-decoration:none; color:#fff; font-weight:200;}
.dialog .modal .closemodal:hover{background:#09F; color:#fff;}

/*  POST MODAL  */
.dialog .newpost{width:500px; height:346px; margin-left:-250px; margin-top:-178px;}
.dialog .newpost label input{width:430px;}
.dialog .newpost label select{min-width:200px;}

/*  CAT MODAL  */
.dialog .newcat{width:500px; height:346px; margin-left:-250px; margin-top:-178px;}
.dialog .newcat label input{width:430px;}
.dialog .newcat label textarea{width:430px;}
.dialog .newcat label select{min-width:200px;}

/*  USER MODAL  */
.dialog .newuser{width:500px; height:620px; margin-left:-250px; margin-top:-310px;}
.dialog .newuser label input{width:430px;}
.dialog .newuser label textarea{width:430px;}
.dialog .newuser label select{min-width:200px;}

/* HEADER */
#header{width:100%; border-bottom:10px solid #000; border-top:10px solid #000;}
#header .content{width:1000px; margin:0 auto;}
#header .content .logo{float:left; padding:20px 0 0 0;}
#header .content .controle{float:right; list-style:none; display:inline;}
#header .content .controle .li{float:left; position:relative;}

#header .content .controle .li a{float:left; display:block; width:74px; text-align:center; font-size:14px; padding:40px 15px 10px 15px; text-transform:uppercase; font-weight:600; text-decoration:none; color:#FFF;}

#header .content .controle .li .home{background:url(../img/icons/panel.png) top 10px center no-repeat;}
#header .content .controle .li .post{background:url(../img/icons/posts.png) top 10px center no-repeat;}
#header .content .controle .li .cats{background:url(../img/icons/categorias.png) top 10px center no-repeat;}
#header .content .controle .li .coms{background:url(../img/icons/comments.png) top 10px center no-repeat;}
#header .content .controle .li .user{background:url(../img/icons/users.png) top 10px center no-repeat;}
#header .content .controle .li .conf{background:url(../img/icons/config.png) top 10px center no-repeat;}
#header .content .controle .li .exit{background:url(../img/icons/logoff.png) top 10px center no-repeat;}

#header .content .controle .li .active{background-color:rgba(255,255,255,0.5);}
#header .content .controle .li:hover{background-color:rgba(0,153,255,0.5);}

#header .content .controle .submenu{display:none;}
#header .content .controle .submenu{top:69px; left:0px; background:#000 url(../img/bg-panel.jpg) repeat center center; position:absolute; list-style:none; float:left; width:204px;}
#header .content .controle .submenu li{float:left; width:204px; position:relative;}
#header .content .controle .submenu li a{float:left; width:154px; padding:10px 10px 10px 40px; text-align:left;}
#header .content .controle .submenu a:hover{background-color:rgba(0,153,255,0.5);}
#header .content .controle .submenu .ger{background:url(../img/icons/ger.png) left 10px center no-repeat;}
#header .content .controle .submenu .add{background:url(../img/icons/add.png) left 10px center no-repeat;}

/* SITE */
#site{width:100%; background:rgba(255,255,255,0.9); min-height:300px; padding:20px 0;}
#site .content{width:1000px; margin:0 auto;}
#site .content .location{font-size:30px; font-weight:400; color:#333; margin:0 0 20px 0; padding-bottom:10px; border-bottom:5px dashed #CCC;}
#site .content .location span{float:right;}
#site .content .location a{padding:8px 15px; float:right; margin-top:3px; background:#06F; color:#FFF; text-decoration:none; font-weight:bold; font-size:14px; text-transform:uppercase;}
#site .content .location a:hover{background:#09F;}

/* PAINEL HOME */
#site .home .left{float:left; width:400px;}
#site .home .boxleft{background:#fff; float:left; width:400px;}
#site .home .boxleft h3{padding:15px; background:#666; font-size:30px; font-weight:400; color:#FFF;}
#site .home .boxleft h3 a{float:right; font-size:16px; text-decoration:none; color:#FFF; text-transform:uppercase; font-weight:bold;}
#site .home .boxleft h3 a{padding:10px 15px; background:#09F;}
#site .home .boxleft h3 a:hover{background:#03F;}
#site .home .boxleft .content{padding:20px; width:400px; float:left;}

#site .home .estatisticas{margin-bottom:30px;}
#site .home .estatisticas .views{float:left; width:360px; list-style:none; background:#fbfbfb;}
#site .home .estatisticas .views li{float:left; text-align:center; font-size:20px; width:60px; padding:40px 30px 10px 30px; background:#09F;}
#site .home .estatisticas .views li small{display:block; font-size:13px; color:#333}
#site .home .estatisticas .views .visitas{background:url(../img/icons/views_site.png) #03F top 15px center no-repeat;}
#site .home .estatisticas .views .users{background:url(../img/icons/views_users.png) #06F top 15px center no-repeat;}
#site .home .estatisticas .views .media{background:url(../img/icons/views_media.png) #09F top 15px center no-repeat;}
#site .home .estatisticas .views .right{float:right; margin-right:0;}

#site .home .estatisticas .conteudo{float:left; width:360px; list-style:none; background:#fbfbfb;}
#site .home .estatisticas .conteudo li{float:left; width:100px; padding:10px; color:#fff; text-align:center;}
#site .home .estatisticas .conteudo li{float:left; font-size:20px; width:60px; padding:40px 30px 10px 30px; background:#09F;}
#site .home .estatisticas .conteudo small{display:block; font-size:13px; color:#CCC}
#site .home .estatisticas .conteudo .topic{background:url(../img/icons/posts.png) #03C top 10px center no-repeat;}
#site .home .estatisticas .conteudo .comment{background:url(../img/icons/comments.png) #06C top 10px center no-repeat;}
#site .home .estatisticas .conteudo .cats{background:url(../img/icons/categorias.png) #09C top 10px center no-repeat;}


#site .home .trafego{margin-bottom:10px;}
#site .home .trafego .relatorio{float:left; list-style:none; width:360px;}
#site .home .trafego .relatorio li{float:left; color:#666; width:360px; text-align:center; border-bottom:1px solid #CCC; border-left:1px solid #CCC;}
#site .home .trafego .relatorio li strong{font-weight:600; color:#666;}
#site .home .trafego .relatorio .title{background:#06F; border-color:#069; color:#FFF; font-weight:bold; text-transform:uppercase; font-size:14px;}
#site .home .trafego .relatorio .title span{border-color:#069;}
#site .home .trafego .relatorio .color{background:#F2F2F2;}
#site .home .trafego .relatorio li span{float:left; width:69px; padding:10px; border-right:1px solid #CCC;}

#site .home .comments{float:right; width:570px;}
#site .home .comments .comentarios{float:left; width:530px; list-style:none;}
#site .home .comments .comentarios li{float:left; width:510px; padding:10px; margin-bottom:20px; background:#E1F0FF;}
#site .home .comments .comentarios li:last-child{margin-bottom:0;}
#site .home .comments .comentarios img{float:left; margin-right:10px;}
#site .home .comments .comentarios span{font-size:16px; display:block;}
#site .home .comments .comentarios p{margin:5px 0; font-size:14px;}
#site .home .comments .comentarios .commentitem{float:right; width:440px;}
#site .home .comments .comentarios .pendente{background:#FFFFCA;}

/* FOOTER */
#footer{width:100%; padding:30px 0;}
#footer .content{width:1000px; margin:0 auto; text-align:center; color:#FFF; font-weight:400; font-size:20px;}
#footer .content a{color:#FFF; font-weight:bold;}
#footer .content a:hover{color:#06F;}