@charset "utf-8";

.exemplo{
	padding: 20px;
	margin-bottom: 10px;
	background: #069;
	color: #fff;
	text-align: center;
}

span{
	padding: 10px;
	color: #fff;
	text-align: center;
	background: #09F;
	margin-bottom:  10px;
}
